body {
    margin:0;
}

  .section.hero {
    background:none!important;
    padding-top:0;
  position: relative;
  height: 450px; 
  width: 100%;
  overflow: hidden;
  }

  
h1 {
    font-size:50px;
}

.container {
    max-width:1312px;
    margin:0 auto;
    position: relative;
  z-index: 2;
}
  .hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section.about * {
    color:#fff;
}

.parallax-img {
  width: 100%;
  height: 120%;  
  object-fit: cover;
  position: absolute;
  top: 0;       
  transform: none;
}


.section.hero .container {
        display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}


.section.hero .container, .section.hero
.hero-text {
  position: relative;
  z-index: 2;
}
    * {
        font-family: montserrat, sans-serif;
    }

    .hero-row {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

  

    .card-row {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .card-row .card {
        padding: 50px;
        max-width: 250px;
        background: white;
        border-radius: 20px;
        border: 1px solid black;
    }

    .two-col {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .two-col img,
    .two-col .description {
        flex-basis: 50%;
    }

    .section {
        padding: 75px 0;
    }
    .section:nth-child(odd) {
        background: #FAF9F6;
    }

    .section:nth-child(even) {
        background: #fff;
    }
    .section h2 {
        text-align:center;
    }

    .language-card-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.language-card {
    width: 75px;
    height: 75px;
    object-fit: contain; /* Ensures the entire image fits without cropping */
}
    .language-card-title {
        text-align:center;
    }

